
.jumbotron {
    text-align: center;
    background-image: url('../../assets/images/background-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .75;

    .display-3 {
        color: white;
        margin-top: 150px;
        margin-bottom: 10px;
        border: none;
    }

    .lead {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .fa {
        color: white;
        margin: 30px 0;
    }
}