.navbar {
    background-color: white;
    opacity: 0.95;
    p {
        margin-bottom: 0;
    }
    .navbar-toggler {
        
        border: none;
    }
    .collapse {
        justify-content: center;
        .navbar-nav {
            align-items: center;
            a.nav-link {
                padding-left: 22px;
                padding-right: 22px;
            }
        }
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    
    .navbar-nav {
        align-items: center;
    }
}