.offer {
    clear: both;
    background-color: #FAFAFA;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    
   
    ul {
        margin-bottom: 0;
        list-style-type: circle;
        
    }

    .diagnosis {
        padding-bottom: 15px;
    }


}