.offer {
    clear: both;
    background-color: #FAFAFA;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    // text-align: justify;
   
    ul {
        margin-bottom: 0;
    }

    .diagnosis {
        padding-bottom: 15px;
    }


}