@font-face {
    font-family: "Vollkorn";
    font-weight: 400;
    src: url("../../assets/fonts/Vollkorn/Vollkorn-Regular.ttf") format("ttf"),
         url("../../assets/fonts/Vollkorn/Vollkorn-Regular.woff") format("woff"),
         url("../../assets/fonts/Vollkorn/Vollkorn-Regular.woff2") format("woff2"),
         url("../../assets/fonts/Vollkorn/Vollkorn-Regular.eot") format("eot"),
}

@font-face {
    font-family: "Lato";
    font-weight: 300;
    src: url("../../assets/fonts/Lato/Lato-Light.ttf") format("ttf"),   
         url("../../assets/fonts/Lato/Lato-Light.woff") format("woff"),
         url("../../assets/fonts/Lato/Lato-Light.woff2") format("woff2"),
         url("../../assets/fonts/Lato/Lato-Light.eot") format("eot");      
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("../../assets/fonts/Lato/Lato-Regular.ttf") format("ttf"),   
         url("../../assets/fonts/Lato/Lato-Regular.woff") format("woff"),
         url("../../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"),
         url("../../assets/fonts/Lato/Lato-Regular.eot") format("eot");      
}

$font1: 'Vollkorn', serif;
$font3: 'Lato', sans-serif;
$fontColor: #D6D6D6;

h1 {
    font-family: $font3;
    font-size: 1.3rem;
    display: inline-block;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

h2 {
    font-family: $font3;
    font-size: 1.2rem;
    color: rgb(116, 115, 115);
    margin-bottom: 15px;
}

p,
li,
a {
    font-family: $font3;
    color: rgb(65, 65, 65);
}

p,
li {
    line-height: 1.7rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.about-me,
.offer {
    p {
        text-align: justify;
    }
}

.display-3,
.lead {
    font-family: $font1;
}

section {
    padding: 85px 0;
}

@media (min-width: 768px) {
    p,
    li,
    .references a {
        letter-spacing: 0.01rem;
        font-size: 1.165rem;
    }
}

// WEBSITE SECTIONS
@import "navbar";
@import "jumbotron";
@import "about-me";
@import "offer";
@import "references";
@import "contact";
@import "footer";

